[submodule "src/github.com/wsxiaoys/terminal"]
	path = src/github.com/wsxiaoys/terminal
	url = git@github.com:wsxiaoys/terminal.git
[submodule "src/github.com/jessevdk/go-flags"]
	path = src/github.com/jessevdk/go-flags
	url = git@github.com:jessevdk/go-flags.git
[submodule "src/github.com/mcuadros/go-version"]
	path = src/github.com/mcuadros/go-version
	url = git@github.com:mcuadros/go-version.git
